# FPGA clock
LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# SPI wires from Raspberry Pi Pico
LOCATE COMP "spi_cs" SITE "C11";
INPUT PORT "spi_cs" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_sck" SITE "C13";
INPUT PORT "spi_sck" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_mosi" SITE "D11";
INPUT PORT "spi_mosi" IO_TYPE=LVCMOS33;

# FPGA LEDs
LOCATE COMP "led0" SITE "D10";
IOBUF PORT "led0" IO_TYPE=LVCMOS33;

LOCATE COMP "led1" SITE "C9";
IOBUF PORT "led1" IO_TYPE=LVCMOS33;

LOCATE COMP "led2" SITE "D9";
IOBUF PORT "led2" IO_TYPE=LVCMOS33;

LOCATE COMP "led3" SITE "C8";
IOBUF PORT "led3" IO_TYPE=LVCMOS33;